version: '3.9'

services:

  # postgres_penjurian:
  #   image: postgres:15
  #   container_name: postgres_penjurian
  #   restart: always
  #   environment:
  #     POSTGRES_USER: bellukstudio
  #     POSTGRES_PASSWORD: BellukStudio121.
  #     POSTGRES_DB: penjurian_db
  #   ports:
  #     - "5433:5432"  # berbeda dari NestJS yang pakai 5432
  #   volumes:
  #     - postgres_penjurian_data:/var/lib/postgresql/data
  #   networks:
  #     - penjurian-network

  penjurian-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: penjuriandemo_app
    restart: always
    volumes:
      - .:/var/www
    networks:
      - bellukstudio_network

  # pgadmin_penjurian:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin_penjurian
  #   restart: always
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: adminpenjurian@bellukstudio.my.id
  #     PGADMIN_DEFAULT_PASSWORD: BellukStudio123.
  #     PGADMIN_LISTEN_ADDRESS: 0.0.0.0  # Force IPv4
  #     PGADMIN_LISTEN_PORT: 80
  #   ports:
  #     - "8082:80"
  #   depends_on:
  #     - postgres_penjurian
  #   volumes:
  #     - ./imports:/var/lib/pgadmin/imports
  #   networks:
  #     - penjurian-network

  # nginx:
  #   image: nginx:latest
  #   container_name: nginx_penjurian
  #   restart: always
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - .:/var/www/penjuriandemo.bellukstudio.my.id
  #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  #   depends_on:
  #     - penjurian-app
  #   networks:
  #     - penjurian-network

# volumes:
#   postgres_penjurian_data:
#   pgadmin_data:

networks:
  bellukstudio_network:
    # driver: bridge
    external: true
