version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: penjurian-app
    container_name: penjurian-app
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
    environment:
      - APP_ENV=production
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=penjurian
      - DB_USERNAME=penjurian
      - DB_PASSWORD=BellukStudio121.
    networks:
      - penjurian-network
    ports:
      - "9000:9000"

  mysql:
    image: mysql:8.0
    container_name: penjurian-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: penjurian
      MYSQL_USER: penjurian
      MYSQL_PASSWORD: BellukStudio121.
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - penjurian-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: penjurian-phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: penjurian
      PMA_PASSWORD: BellukStudio121.
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - mysql
    networks:
      - penjurian-network

networks:
  penjurian-network:
    driver: bridge

volumes:
  mysql_data:
