version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: penjurian-app
    container_name: penjurian-app
    volumes:
      - .:/var/www/penjuriandemo.bellukstudio.my.id
    depends_on:
      - postgres
    environment:
      - APP_ENV=production
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres
      - DB_PORT=5579
      - DB_DATABASE=penjurian
      - DB_USERNAME=penjurian
      - DB_PASSWORD=BellukStudio121.
      - APP_URL=https://penjuriandemo.bellukstudio.my.id
      - APP_DEBUG=false
    networks:
      - penjurian-network
    ports:
      - "9000:9000"

  postgres:
    image: postgres:15
    container_name: penjurian-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: penjurian
      POSTGRES_USER: penjurian
      POSTGRES_PASSWORD: BellukStudio121.
      POSTGRES_ROOT_PASSWORD: BellukStudio121.
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - penjurian-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: penjurian-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@bellukstudio.my.id
      PGADMIN_DEFAULT_PASSWORD: BellukStudio121.
      PGADMIN_LISTEN_ADDRESS: 0.0.0.0  # Force IPv4
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8081:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - penjurian-network

networks:
  penjurian-network:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:
